# Banco de Dados
DATABASE_URL=XXXXXXXXXXXXXXXXXXXXXX

# JWT
SECRET_KEY=XXXXXXXXXXXXXXXXXXXXXXXX
ALGORITHM=XXXXXXXXXXXXXXXXXXXXXX
ACCESS_TOKEN_EXPIRE_MINUTES=XX

# API
API_TITLE=XXXXXXXXXXXXXXXXXX
API_VERSION=XXXXXXXXXXXXXXXX