# Banco de Dados
DATABASE_URL=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# JWT
SECRET_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
ALGORITHM=XXXXXXXXXXXXXXXXXXXXXXXXX
ACCESS_TOKEN_EXPIRE_MINUTES=XXXXXXXXXXXXX

# API
API_TITLE=XXXXXXXXXXXXXXXXXXXXXXXXX
API_VERSION=XXXXXX