annotated-doc @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_annotated-doc_1762868213/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_anyio_1782357087/work
argon2-cffi @ file:///C:/Users/task_176606717499708/croot/argon2-cffi_1766067891508/work
argon2-cffi-bindings @ file:///C:/miniconda3/conda-bld/argon2-cffi-bindings_1757925023673/work
bcrypt @ file:///D:/bld/bld/rattler-build_bcrypt_1756811936/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1781719850827/work/certifi
cffi @ file:///D:/bld/cffi_1761202861216/work
click @ file:///D:/bld/bld/rattler-build_click_1779900586/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
cryptography @ file:///D:/bld/cryptography-split_1781385307242/work
dnspython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_dnspython_1757292856/work
ecdsa @ file:///home/conda/feedstock_root/build_artifacts/ecdsa_1774556716531/work
email-validator @ file:///home/conda/feedstock_root/build_artifacts/email-validator-meta_1756221362582/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1763918002538/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_fastapi-core_1782765988/work
fastapi-cli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_fastapi-cli_1781833514/work
fastar @ file:///D:/bld/bld/rattler-build_fastar_1776177904/work
gmpy2 @ file:///D:/bld/gmpy2_1773244945003/work
greenlet @ file:///C:/Users/task_177494946583357/croot/greenlet_1774949578102/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h11_1767729720/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1782283902770/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1745602916/work
httptools @ file:///D:/bld/httptools_1779757468640/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_idna_1781620148/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1778169583724/work
MarkupSafe @ file:///D:/bld/markupsafe_1772444957495/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
packaging==26.0
passlib==1.7.4
psycopg2 @ file:///D:/bld/psycopg2-split_1779947409855/work
pyasn1 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyasn1_1773729387/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1779293633/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pydantic_1778103405/work
pydantic-extra-types @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pydantic-extra-types_1773664659/work
pydantic-settings @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pydantic-settings_1781884990/work
pydantic_core @ file:///D:/bld/bld/rattler-build_pydantic-core_1778084253/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1774796700044/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dotenv_1772388605/work
python-jose @ file:///home/conda/feedstock_root/build_artifacts/python-jose_1748530462723/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-multipart_1780610429/work
PyYAML @ file:///D:/bld/pyyaml_1770223249637/work
rich @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich_1775991661/work/dist
rich-toolkit @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich-toolkit_1780659356/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1744825426113/work
setuptools==82.0.1
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1762858192781/work
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1762941432086/work
SQLAlchemy @ file:///D:/bld/bld/rattler-build_sqlalchemy_1781547906/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_starlette_1781447071/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomli_1774492402/work
typer @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typer_1782477870/work
typing-inspection @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing-inspection_1777105465/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
uvicorn @ file:///D:/bld/bld/rattler-build_uvicorn_1780574337/work
watchfiles @ file:///D:/bld/bld/rattler-build_watchfiles_1781180333/work
websockets @ file:///D:/bld/bld/rattler-build_websockets_1768087431/work/dist
wheel==0.47.0
